.wrapper {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    font-size: 40px;
}

.form {
    width: 400px;
    display: flex;

    flex-direction: column;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
}

.input {
    height: 28px;
    font-size: 16px;
    padding: 4px 8px;
}

.formMargin {
    margin-top: 20px;
}

.button {
    width: 100%;
    margin-top: 30px;
    height: 40px;
}

.signup {
    padding-top: 20px;
    align-self: flex-end;
    text-decoration: none;
}
